<!DOCTYPE html>
<html>
<head>
    <title>BSUWebsite</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<body id="home">
    <div class="topnav">
        <a href="index.html">Home</a>
        <a href="leaders.html">Historical Leaders</a>
        <a href="racism.html">Racism during Coronavirus</a>
        <a href="blm.html">Black Lives Matter</a>
        <a href="action.html">Take Action</a>
    </div>

    <p2><br><span style='color: red'>B</span>e <span style='color: red'>S</span>een & <span style='color: red'>U</span>
        nderstood is a social movement started by Fair Lawn High School’s Black Student Union. 
        It is necessary to act with urgency; generations have been told to wait. Our grandparents were told to wait.
        Our parents were told to wait. We are being told to wait. “Wait” is being correlated to “Never.” What if 
        our children have to wait? We are tired of waiting for progress so given this platform, it would be a crime 
        against humanity to not use it for the greater good. The mission of Be Seen & Understood is to inform the 
        public of the adverse effects of race-based discrimination and provide different, limitless perspectives to  
        Our message is simple, clear, and necessary
    </p2>

    <h2>We are <span style='color: red'>B</span>enevolent</h2>
    <p2>Sadness helps us stop and reflect on what matters. Anger reveals to us what’s unfair and gives us 
    the energy to create change.
    </p2>

    <h2>We are not <span style='color: red'>S</span>ilent</h2>
    <p2>Regarding the trauma humans have created for other humans, simply not being racist won't recover this issue. 
        Silence is taking the side of the oppressor by not supporting the oppressed. Yes, we need to listen. After all, 
        one of the key points in communication is to allow the speaker to know you are truly listening by expressing 
        back to that person what you hear them saying. If you’re listening, say that! It’s even better to share what you
         hear the people you’re listening to saying. In the midst of our silence, the speaker might think we have tuned 
         out and decided to stop speaking. We don’t all have to share publicly, but considering that some are silent, 
         but not tuned out because someone you care about may truly wonder if you’re listening. It’s so easy to say if 
         you are listening, so prove it! <br>
        It takes <br>
        Our family <br>
        Our community <br>
        Our country <br>
        Our world <br>
        To actively call for a change, actively be anti-racist, and actively make your voice part of the fight. 
        There must be a massive outcry to progress towards justice.
    </p2>

    <h2>We are <span style='color: red'>U</span>niform</h2>
    <p2>Wherever it takes place <br>
        Whoever is affected by it <br>
        We must unite to end Racism <br>
    </p2>

    <footer class="footer">
        <pdiv>If you do not feel comfortable sharing your story here but would still like to be heard, we offer free, 
            confidential support and will always be by your side as an active listener. We must address mental health 
            and suicide prevention in communities of color. 
        </div>
        <p>Hannah: <a href="mailto:Hannah.chu77@gmail.com">Hannah.chu77@gmail.com</a></p>
        <p>Amanda: <a href="amandaarockson@gmail.com">amandaarockson@gmail.com</a></p>
    </footer>
    
</body>